.a2 {
    opacity: 0;
    background-attachment: fixed;
    background-position: center;
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), #081b29), url("images/to_form.jpg");
    background-size: cover;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    transition: opacity 1s ease-in-out;
}

.a2.show {
    opacity: 1;
    color: darkgrey;
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), #081b29), url("images/to_form.jpg");
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}

.div_for_reach_me {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    width: 70%;
    height: 90%;
    min-height: 500px;
    min-width: 500px;
}

form {
    animation: slideTop 3s ease forwards;
    animation-delay: 300ms;
    width: 100%;
    max-width: 600px;
    transition: opacity 1s ease-in-out;

}

.div_for_h2_form, .div_for_h3_form {
    height: 8%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70%;
}

.div_for_h3_form {
    display: flex;
    align-items: flex-start;
}

.h2_form {
    animation: slideRight 2s ease forwards;
    margin: 0;
}

.h3_form {
    animation: slideRight 2s ease forwards;
    animation-delay: 200ms;
    margin-top: 2%;
    margin-bottom: 4%;

}

.input_form {
    margin-bottom: 5%;
    position: relative;
}

input, textarea {
    width: 100%;
    height: 100%;
    padding: 1%;
    outline: 0;
    border: 5px solid #fff;
    color: white;
    background: transparent;
    font-size: 15px;
}

input:focus ~ label, input:valid ~ label {
    top: -35px;
    font-size: 14px;

}

textarea:focus ~ label, textarea:valid ~ label {
    top: -35px;
    font-size: 14px;

}

footer {
    width: 100%;
    height: 5vh;
    display: flex;
    justify-content: center;
}

label {
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    padding: 15px;
    color: white;
    cursor: text;
    transition: 0.5s;
}

.form_button {
    padding: 10px 0;
    color: white;
    outline: none;
    background: linear-gradient(rgba(0, 0, 0, 0.5), transparent) fixed;
    border: 4px solid white;
    box-shadow: 0 20px 30px rgba(0, 0, 0, 0.3);
    width: 100%;
    cursor: pointer;
    transition: 1s;

}

.form_button:hover {
    scale: 1.1;
    background: linear-gradient(rgba(0, 0, 0, 1), #081b29);
}

.p_footer {
    background-color: #081b29;
    color: white;
    font-size: 12px;
}

.input_form.success input {
    border-color: #09c372;
}

.input_form.success textarea {
    border-color: #09c372;
}

.input_form.error input {
    border-color: #ff3860;

}

.input_form.error textarea {
    border-color: #ff3860;
}

.input_form .error {
    color: #ff3860;
    font-size: 10px;
    height: 13px;
}

.success-message {
    background: linear-gradient(100deg, transparent, green);
    color: white;
    padding: 20px;
    text-align: center;
    position: fixed;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
